* {
  padding:0;
  margin:0;
  font-family: 'Droid Sans', sans-serif;
}

header {
  padding:10px 0 10px;
  background:#3ea9f5;
}

header h1 {
  padding:10px 0 0 40px;
  font-weight:normal;
  font-size:40px;
  color:#FFF;
  background:url(../img/sprite.png) no-repeat 0 0; 
}

.inner {
  width:900px;
  margin:0 auto;
}

#content {
  padding:20px 0;
}

section {
  margin-bottom:40px;
}
